*{
  box-sizing: border-box;
  /* this will ensure the calculations take into account the border */
}
body{
  background-color: #17181F;
  color: #ddd;

}
main{
  max-width: 360px;
  margin:30px auto;
}
h1{
  text-align: center;
  color: #FFF;
  margin: 0;
}
form{
  margin-top: 20px;
}
form input{
  width: 100%;
  background-color: transparent;
  color: #ddd;
  border: 2px solid #30313d;
  padding: 2px 5px;
  border-radius: 5px;
}
form input[type="datetime-local"]
{
  color: #777;
}
form div.basic{
  display: flex;
  /* this will ensure that the basic info i.e. name and date take up 50% each of the first line */
  gap: 5px;
  margin-bottom: 5px;

}
form button{
  width: 100%;
  margin-top: 5px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  background-color: #ddd;
}

div.transactions {
 margin-top: 10px;
}
div.transaction {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
  border-top: 1px solid #30313d
}
div.transaction:first-child{
  border-top: 0;
}
div.transaction div.name {
  font-size: 1rem;
}
div.transaction div.description
{
  font-size: 0.7rem;
  color: #888;
}
div.right{
  text-align: right;
}
div.price.green{
 color: #1c1;
}
div.price.red{
  color: #c11;
}
div.transaction div.datetime
{
 font-size: 0.7rem;
  color: #888; 
}